<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <meta name="viewport" content="user-scalable=no, width=device-width">
    <title>知乎日报</title>
    <link rel="stylesheet" href="css/baidu.css">
    <link rel="stylesheet" href="http://news-at.zhihu.com/css/news_qa.auto.css?v=4b3e3">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="c">
    <section id="nav" ng-show="f">
        <nav >
            <div class="logo"></div>
            <ul class="themes" ng-controller="themes">
                <li ng-repeat="v in zhuti">
                    <a href="#">{{v}}</a>
                </li>
            </ul>
            <div class="bottom">
                <span>完成</span>
                <span>夜间</span>
            </div>
        </nav>
    </section>
    <section id="content">
        <header>
        <div class="top" >
            <div class="btn" ng-click="left()"></div>
            <span>今日新闻</span>
        </div>
        </header>
        <ul class="banner">
            <li><a href=""></a></li>
            <!--<li><a href=""><img src="" alt=""></a></li>-->
            <!--<li><a href=""><img src="" alt=""></a></li>-->
            <!--<li><a href=""><img src="" alt=""></a></li>-->
            <!--<li><a href=""><img src="" alt=""></a></li>-->
        </ul>
        <ul class="show" ng-view>

        </ul>
    </section>

    <!--<section>-->
        <!--<div ng-view></div>-->
    <!--</section>-->
</body>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/controller.js"></script>
<script src="js/filter.js"></script>
<script src="js/directive.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.5.0/angular-sanitize.min.js"></script>
<script src="js/index.js"></script>
</html>